.display-title {
    display: -webkit-inline-box;
    position: relative;
}

.h5-title {
    font-weight: 700;
    font-size: 1rem;
    position: absolute;
    bottom: 10%;
}

.details-icon {
    position: absolute;
    left: 3%;
    bottom: 25%;
}

.span-position {
    position: absolute;
    left: 18%;
    bottom: 25%;
}


.p-type {
    font-size: 0.9em;
}

.form-check-label {
    font-weight: 600;
}

.form-check {
    padding-left: 0.75rem;
}

.send-email {
    margin-top: 1.1em;
}

.send-email input[type="radio"]+label:before, .send-email input[type="checkbox"]+label:before {
    margin-top: 1em;
}

.send-email input[type="radio"]+label, .send-email input[type="checkbox"]+label {
    padding-left: 2.3em;
}

.form-check-input:disabled, .form-check-input:disabled + label {
    cursor: not-allowed;
}

.titles{
    font-size: 1.25rem;
    font-weight: 700;
    color: #692f74ff;
}

.profile-label{
    font-weight: 600;
}